@font-face {
    font-family: 'fs_ex';
    src: url('../../fixedsys_excelsior.ttf');
	font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../../Roboto-Regular.ttf');
	font-weight: normal;
    font-style: normal;
}

#menu{
    font-family: 'fs_ex';
    top: -1px;
    left: -1px;
    width: 1920px;
    height: 99px;
    /* UI Properties */
    background: #000000 0% 0% no-repeat ;
    color: yellow;
    opacity: 1;
    margin:auto;
    padding: 10px;
    font-size: 64px;
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil{
    font-family: 'fs_ex';
    text-align: center;
}

body{
    font-family: 'roboto';
    background-image: url('../img/background.jpg');
    color: white;
    background-color: #000F08;
}
