@font-face {
    font-family: 'fs_ex';
    src: url('../../fixedsys_excelsior.ttf');
	font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../../Roboto-Regular.ttf');
	font-weight: normal;
    font-style: normal;
}



.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil{
    font-family: 'fs_ex';
    text-align: center;
}

body{
    font-family: 'roboto';
    background-image: url('../img/background.jpg');
    color: white;
    background-color: #000F08;
}

.titulo{
    background-color: rgba(128, 128,128, 0.5);
}

.pretitulo{
    background-color: rgba(0,0,0,0.5);
}